.container {
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  flex-basis: 500px;
}

.form__labelText {
  margin-right: 10px;
  max-width: 200px;
  display: inline-block;
}

.form__field {
  border: 2px solid #888;
  border-radius: 5px;
  width: 100%;
  max-width: 125px;
  padding: 5px;
}

.form__field:disabled {
  background-color: hsl(182, 25%, 80%);
  border-color: cadetblue;
}

.form__labelList {
  list-style: none;
  padding: 5px;
}

.form__button {
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
  display: block;
  margin: 10px auto;
  padding: 5px;
  background-color: cadetblue;
}

.form__button:hover {
  background-color: hsl(182, 25%, 60%);
  transform: scale(1.1);
  transition: 1.5s;
}

.form__button:active {
  background-color: hsl(182, 25%, 45%);
  transition: 0.5s;
}

.form__fieldset {
  border: 2px solid hsl(182, 25%, 60%);
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.form__legend {
  color: white;
  background-color: cadetblue;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.form__labelResult {
  font-weight: bold;
}

.form__footer {
  font-size: 11px;
}