html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  background-image: url("../public/changedMoney.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.body {
  display: flex;
  justify-content: center;
}