html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
}

.backgroundImage {
  background-image: url("../public/changedMoney.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}