html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
}

.backgroundImage {
  background-image: url("../public/changedMoney.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  margin: 20px;
  padding: 10px;
  text-align: center;
  flex-basis: 600px;
}

.form__labelText {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

.form__field {
  border: 2px solid #888;
  border-radius: 5px;
  width: 100%;
  max-width: 125px;
  padding: 5px;
}

.form__field:disabled {
  background-color: hsl(182, 25%, 80%);
  border-color: cadetblue;
}

.form__labelList {
  list-style: none;   
}

.form__button {
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
  display: block;
  margin: 10px auto;
  padding: 5px;
  background-color: cadetblue;
}

.form__button:hover {
  background-color: hsl(182, 25%, 60%);
}

.form__fieldset {
  border: 2px solid hsl(182, 25%, 60%);
  padding: 15px;
  border-radius: 5px;
}

.form__legend {
  background-color: cadetblue;
  border-radius: 5px;
  padding: 10px;
}

.form__labelResult {
font-weight: bold;
}